body, div.h, div.n {
    min-width: 480px;
}

body, h4, h5, h6, p, ol, ul, li, blockquote, code, pre, div, span, form, input, select, textarea, table, caption, th {
    font-size: 16px;
}

h1, span.h {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

span.fr {
    font-size: 15px;
}

p, li, div.n, div.t, span.fr {
    line-height: 1.5em;
}
